@model IEnumerable<FridgeUI.Models.FridgeModels.FridgeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |


                    <input type="button" value="Delete" class="btn btn-link" onclick="deleteConfirm('@item.Id')" />
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        var deleteConfirm = function (val) {
            Swal.fire({
                title: 'Do you want to save the changes?',
                showCancelButton: true,
                confirmButtonText: 'Save',
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteData(val);
                } 
            })
        }
        var deleteData = function (val) {
            $.ajax({
                type: "DELETE",
                url: '@Url.Action("Delete","Fridge")',
                data: { Id: val },
                success: function (result) {
                    window.location.href = result;
                },
                error: function () {
                    $("#delete-conformation").modal('hide');
                }
            });
        }
    </script>
}